*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    position:relative;
    margin: auto;
    padding:1rem;
    padding-bottom:0;
    text-align:center;
    text-align: -webkit-center;
}

.linkbar {
    margin-top:15px;
}
.linkbar li {
    display:inline-block;
    padding:0 10px;
}
.linkbar li:first-child {
    border-right:2px solid #000;
}
.linkbar li:last-child {
    border-left:2px solid #000;
}

.theview {
    position:relative;
    padding:0 30px;
    margin-top:25px;
}

    /* "Home" view */
    .home-container, .meal-container, .earnings-container {
        position:absolute;
        top:0px;
        right:0;
        left:0;
    }
    .home-container p, .home-container ul {
        text-align:left;
        max-width: 400px;
        margin-top:10px;
    }
    .home-container p:first-child {
        margin-top:0;
    }
    .home-container ul {
        list-style-type:disc;
        padding:0 18px;
    }

    .meal-container {
    }
    .meal, .charges, .earnings {
        max-width:300px;
        border:2px solid black;
        padding:0 20px;
    }
        .charges {
            margin-top:15px;
        }

        h1 {
            text-align:center;
        }
        .divider {
            border-top:2px solid black;
            margin:7px -18px;
        }
        h4 {
            margin-top:7px;
        }
        #bmp {
            width: 100px;
        }
        #taxRate {
            width: 50px;
        }
        #tip {
            width: 35px;
        }
        form[name="mealForm"] {
            position:relative;
        }
            form .showError {
                position:absolute;
                margin-top:4px;
                padding:0 15px;
                left:0;
                color:red;
                font-size:.8em;
            }
        form center {
            margin-top:25px;
            margin-bottom:10px;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    table {
    }
        td {
            font-size:.90em;
            padding:5px 3px;
        }
        td.textcol {
            text-align:right;
        }

    #resetBtn {
        margin-top: 15px;
    }

.bottom-border {
    border-bottom: 2px solid black;
}

button {
    border-radius: 2px;
    background-color:#fff;
    padding:5px 10px;
    font-size:12px;
}


/********************************/
/* Daniel Eden's CSS Animations */
/********************************/

.fadeInRight {
    /* The base .fadeInRight from animate.css must be disabled to enable
     * ngAnimate and still use the base keyframes defined in animate.css. */
    -webkit-animation-name: nullkeyframe;
            animation-name: nullkeyframe;
}
.fadeInRight.ng-enter {
    -webkit-animation: 1.3s fadeInRight;
            animation: 1.3s fadeInRight;
}

.fadeOutDownBig {
    /* The base .fadeOutDownBig from animate.css must be disabled to enable
     * ngAnimate and still use the base keyframes defined in animate.css. */
    -webkit-animation-name: nullkeyframe;
            animation-name: nullkeyframe;
}
.fadeOutDownBig.ng-leave {
    -webkit-animation: 0.8s fadeOutDownBig;
            animation: 0.8s fadeOutDownBig;
}

.shake {
    /* The base .shake from animate.css must be disabled to enable
     * ngAnimate and still use the base keyframes defined in animate.css. */
    -webkit-animation-name: nullkeyframe;
            animation-name: nullkeyframe;
}
.shake-add, .shake-remove {
    -webkit-animation: 0.5s shake;
            animation: 0.5s shake;
}

